<!DOCTYPE html>
<html>
<head>
  <title>Alchemy crop image</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "alchemy/crop/image/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
